{% extends 'base.html' %}

{% block content %}

<!-- <h2 class="aboutVersion" style="text-align: center;
font-family:'Poppins', sans-serif ;
margin-bottom:5px ;
">VERSION 1.0.0</h2> -->

 	<!-- <hr> -->
	<h2 class="aboutHead">About the Project</h2>

	<p class="aboutDetails">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam labore voluptas similique tempore provident iure culpa, harum, laudantium eveniet ea recusandae. Ullam placeat aliquid eum sapiente sint. Magnam, totam ipsa?</p>
	<!-- <hr> -->
 	<h2 style="text-align: center;
	font-family:'Poppins', sans-serif ;
	margin:0px 620px;
	padding:5px 0px;
	border-radius: 10px;
	background-color: #595260;">The Creators</h2>
 	<!-- <hr> -->

<!-- myChanges -->
	<div class="creatorContainer">

		<div class="card">
			<div class="name">Akhil CA</div>
			<div class="description">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae feugiat velit, vel vestibulum lacus. Nulla et sapien sit amet metus aliquet semper.
			</div>
		  </div>

		  <div class="card">
			<div class="name">Srujan</div>
			<div class="description">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae feugiat velit, vel vestibulum lacus. Nulla et sapien sit amet metus aliquet semper.
			</div>
		  </div>

		  <div class="card">
			<div class="name">Priyanshu</div>
			<div class="description">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae feugiat velit, vel vestibulum lacus. Nulla et sapien sit amet metus aliquet semper.
			</div>
		  </div>

		  <div class="card">
			<div class="name">Pushpesh</div>
			<div class="description">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae feugiat velit, vel vestibulum lacus. Nulla et sapien sit amet metus aliquet semper.
			</div>
		  </div>

	</div>

 	<!-- <ul class="td">
		<li>AKHIL</li>
		<li>SRUJAN</li>
		<li>PUSHPESH</li>
 		<li>PRIYANSHU</li>
  	</ul>
	<hr> -->
	<!-- <p class="td">Thank you, For visiting our website</p> -->
{% endblock %}
