{% extends 'base.html' %}

{% block content %}
	
	<!-- <h2>VERSION 1.0.0</h2> -->
 	<!-- <hr> -->
 	<h2 style="text-align: center;
	margin:30px 600px;
	padding:10px 0;
	margin-top: 50px;
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
	background-color:#595260;">Contact Us</h2>
	<!-- <p class="td">For any queries regarding this website contact us on following:</p>
	<p class="td">Our Email ID:audio2sl@gmail.com</p>
	<p class="td">Twitter handle:@audio2sl</p>
	<p class="td">Contact number:(079)25831703</p>
 	<hr>
	<p class="td">Thank you, For visiting our website</p> -->
	<div class="contactContainer">
		<div class="card">
			<div class="content">
			  <h2>Talk with the developers</h2>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget leo ac nunc pulvinar.</p>
			  <div class="phone-number">
				<div class="rounded-square">123-456-7890</div>
			  </div>
			</div>
		  </div>

		  <div class="card">
			<!-- <div class="icon">
			  <i class="fa fa-user"></i>
			</div> -->
			<div class="content">
			  <h2>Mail us for any Support</h2>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget leo ac nunc pulvinar.</p>
			  <div class="phone-number">
				<div class="rounded-square">xyz@gmail.com</div>
			  </div>
			</div>
		  </div>
	</div>

{% endblock %}